@import url(c:\Webprog\Pet-projects\react_gallery\src\styles\index.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: auto;
  background-color: var(--background-color);
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}

.header__logo {
  width: 64px;
  height: 64px;
  color: #4c4c4c;
}

.header__theme {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.header__theme path {
  fill: var(--theme-toggler-color);
}

.menu {
  margin-top: 25px;
  margin-bottom: 45px;
}

.menu__button {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

.menu__button::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 20px;
  width: 0;
  height: 0;
  border-width: 6px 6px 0 6px;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
  border-style: solid;
}

.menu__inputs {
  margin: 0 auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__divider {
  width: 12px;
  height: 1px;
  background-color: var(--divider-color);
  margin-top: 23px;
}

.menu__input {
  margin-bottom: 15px;
  height: 45px;
  display: block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid var(--input-color);
  border-radius: 10px;
  background-color: var(--input-background);
}

.menu__input-created {
  width: 110px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background-color: #efefef;
  text-align: center;
}

.menu__input.created {
  height: 100%;
}

.menu__input.created button {
  width: 100%;
  height: 45px;
  overflow: hidden;
  border: none;
  background-color: var(--input-background);
  border-radius: 12px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  color: var(--input-created-color);
}

.menu__wrapper {
  width: 100%;
  position: relative;
}

.menu__wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  width: 0;
  height: 0;
  border-width: 6px 6px 0 6px;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
  border-style: solid;
}

.menu__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-bottom: 15px;
  height: 45px;
  display: block;
  width: 100%;
  padding-left: 12px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid var(--input-color);
  border-radius: 10px;
  background-color: var(--input-background);
  color: var(--select-color);
}

.gallery img {
  width: 100%;
  height: 140%;
  margin-bottom: 20px;
}

.gallery__item {
  width: 100%;
  height: 205px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.gallery__info {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: -66px;
  background-color: white;
  opacity: 75%;
  padding-top: 5px;
  padding-left: 15px;
}

.gallery__info:hover {
  bottom: 0px;
}

.gallery__info span {
  font-weight: bold;
}

.gallery__info p {
  font-size: 15px;
}

.gallery__info p:first-child {
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 20px;
}

.pagination {
  width: 280px;
}

.pagination__buttons {
  margin-top: 30px;
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__button {
  width: 41px;
  height: 41px;
  background: none;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid var(--pagination-border-color);
  color: var(--pagination-color);
}

.pagination__button path {
  fill: var(--pagination-color);
}

.pagination__button-current {
  color: var(--pagination-color-active);
  background-color: var(--pagination-color-active-background);
}

.pagination__button:first-child {
  border-radius: 10px 0 0 10px;
}

.pagination__button:last-child {
  border-radius: 0 10px 10px 0;
}

.pagination__button:hover {
  cursor: pointer;
}

.pagination__button-disabled {
  border-color: var(--pagination-disabled);
}

.pagination__button-disabled:hover {
  cursor: auto;
}

.pagination__button-disabled path {
  fill: var(--pagination-disabled);
}

#created__inputs.active {
  display: none;
}

.dropdown__button {
  display: block;
  position: relative;
  width: 220px;
  text-align: left;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  height: 45px;
  padding: 15px 35px 14px 15px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.created__button::after {
  content: "";
  position: absolute;
  right: 14px;
  top: 20px;
  width: 0;
  height: 0;
  border-width: 6px 6px 0 6px;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
  border-style: solid;
}

@media (min-width: 550px) {
  .gallery img {
    height: 130%;
  }
  .gallery__item {
    height: 250px;
  }
  .gallery__info {
    bottom: -90px;
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: 34px;
    margin-right: 34px;
  }
  .menu {
    margin-top: 35px;
    margin-bottom: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__divider {
    width: 12px;
    height: 1px;
    background-color: var(--divider-color);
    margin-top: 0px;
  }
  .menu__input {
    width: 23%;
    margin-bottom: 0px;
  }
  .menu__input-created {
    margin-bottom: 0;
  }
  .menu__wrapper {
    height: 45px;
    width: 23%;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery img {
    height: 100%;
  }
  .gallery__item {
    width: 49%;
    height: 250px;
  }
  .gallery__info {
    bottom: -90px;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-left: 42px;
    margin-right: 42px;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery img {
    height: 100%;
  }
  .gallery__item {
    width: 32%;
    height: 230px;
  }
  .gallery__info {
    bottom: -78px;
  }
}

@media (min-width: 1366px) {
  .container {
    margin-left: 123px;
    margin-right: 123px;
  }
  .menu__inputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery img {
    height: 120%;
  }
  .gallery__item {
    height: 275px;
  }
  .gallery__info {
    bottom: -100px;
  }
}
/*# sourceMappingURL=style.css.map */